<!DOCTYPE html>
<html lang="en">
<head>
   <title>My first program</title>
</head>
<body>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
   <head profile="http://gmpg.org/xfn/11">
      
<title>Mentor001 | Log In & Sign Up</title>

<link rel="stylesheet" href="style.css" type="text/css" media="all">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.css" type="text/css" media="all">

<link href='http://fonts.googleapis.com/css?family=Roboto:900,900italic,500,400italic,100,700italic,300,700,500italic,100italic,300italic,400' rel='stylesheet' type='text/css'>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        
<script type="text/javascript">//<![CDATA[ 
$(window).load(function(){
$('.form-control').on('focus blur', function (e) {
    $(this).parents('.form-group').toggleClass('focused', (e.type === 'focus' || this.value.length > 0));
}).trigger('blur');
});//]]>  
</script>

<!-- Custom CSS -->
<link rel="stylesheet" type="text/css" href="../css/style.css">

</head>  
<body style="height: 100%; overflow: hidden; width: 100% !important;">

<!-- show any messages that come back with authentication -->
<% if (message.length > 0) { %>
<h1 style="text-align: center; padding-top: 10px; padding-bottom: 10px; background-color: #fff; "><%= message %></h1>
<% } %>

<div id="fback"><div class="girisback"></div><div class="kayitback"></div></div>
        
      <div id="textbox">
         <div class="toplam">
                
            <div class="left">
                <div id="ic">
               <h2>Sign Up</h2>
                  <form id="girisyap" name="signup_form" id="signup_form" method="post" enctype="multipart/form-data" onsubmit="return false;">

               <div class="yarim form-group">
                       <label class="control-label" for="inputNormal">Username</label>
                       <input type="text" name="signup_username" id="signup_username" class="bp-suggestions form-control" cols="50" rows="10" ></input>
               </div>
               <div class="yarim sn form-group">
                       <label class="control-label" for="inputNormal">Full Name</label>
                       <input type="text" name="field_1" id="field_1" value="" class="bp-suggestions form-control" cols="50" rows="10"></input>
               </div>
               <div class="form-group">
                       <label class="control-label" for="inputNormal">Email</label>
                       <input type="text" name="signup_email" id="signup_email" class="bp-suggestions form-control" cols="50" rows="10"></input>
               </div>
               <div class="form-group">
                       <label class="control-label" for="inputNormal">Password</label>
                       <input type="password" name="signup_password" id="signup_password" value="" class="bp-suggestions form-control" cols="50" rows="10" ></input>
               </div>
               <div class="form-group soninpt">
                     <label class="control-label" for="inputNormal">Confirm Password</label>
                     <input type="password" name="signup_password_2" id="field_2" class="bp-suggestions form-control" cols="50" rows="10"></input>
               </div>
               <input type="submit" name="signup_submit" id="signup_submit" value="Sign Up" class="girisbtn"  />
               </form>

                <button id="moveright">Log In</button>
            </div>
            </div>

            <div class="right">
            <div id="ic">
               <h2>Login</h2>
               
               <form name="login-form" id="girisyap" id="sidebar-user-login" method="post" onsubmit="return false;">

               <div class="form-group">
                       <label class="control-label" for="inputNormal">Username</label>
                          <input type="text" name="log" class="bp-suggestions form-control" cols="50" rows="10" ></input>
               </div>
               <div class="form-group soninpt">
                       <label class="control-label" for="inputNormal">Password</label>
                          <input type="password" name="pwd" class="bp-suggestions form-control" cols="50" rows="10"></input>
               </div>
               <input type="submit" value="Login" class="girisbtn" tabindex="100" />
               </form>

               <button id="moveleft">Sign Up</button>
                </div>
            </div>

         </div>
      </div>

      <script type="text/javascript" >
      $(document).ready(function() {
    $('#moveleft').click(function() {
        $('#textbox').animate({
        'marginLeft' : "0" //moves left
        });
        
        $('.toplam').animate({
        'marginLeft' : "100%" //moves right
        });
    });
    
    $('#moveright').click(function() {
        $('#textbox').animate({
        'marginLeft' : "50%" //moves right
        });
        
        $('.toplam').animate({
        'marginLeft' : "0" //moves right
        });
    });
    
});
      </script>

   </body>
</html>
</body>
</html>